body{
    background-color: black;
}
h1,h3{
    color: white;
}
#M{
    width: 500px;
    }
 #V{
       width: 500px;
     }
#E
{
    width: 500px;
}
#J{
    width: 500px;
}
#U{
    width: 500px;
}